body {
    font-family: Arial;
    background: linear-gradient(to right, #4e73df, #1cc88a);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #4e73df;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2e59d9;
}

#errorMsg {
    color: red;
    font-size: 14px;
}